OPENAI_API_KEY = "<ENTER YOUR API KEY>"
ANTHROPIC_API_KEY = "<ENTER YOUR API KEY>"
GOOGLE_API_KEY = "<ENTER YOUR API KEY>"
HUGGINGFACEHUB_API_TOKEN = "<ENTER YOUR API TOKEN>"
EXCHANGERATE_API_KEY = "<ENTER YOUR API KEY>"
WEATHERSTACK_API_KEY = "<ENTER YOUR API KEY>"
STOCKPRICE_API_KEY = "<ENTER YOUR API KEY>"
LANGCHAIN_TRACING_V2 = true # `true` if want to Trace in langSmith else `false`
LANGCHAIN_ENDPOINT = 'https://api.smith.langchain.com'
LANGCHAIN_API_KEY = "<ENTER YOUR API KEY>"
LANGCHAIN_PROJECT = "<ENTER YOUR PROJECT NAME>"